
marmara_frontend
marmara_venv/
uploaded_files

# Кэш и временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.tmp

# Python сборка
*.egg-info/
build/
dist/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Прочее
.DS_Store
README.md
